<!DOCTYPE html>
<html>
  <head>
      <title>Turntable!!</title>
  </head>
  <body>
    <h1>Turntable</h1>
    <li id="firstPlayer">{{ message }}</li>


    <!--JavaScript files -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="bundle.js"></script>
  <!--
    <script src="/vue.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
  -->


  </body>
</html>
